/* Mozilla browserscroll bar */
*{ 
    /* overflow-y: scroll; */
    scrollbar-color: rgb(16, 179, 208) rgba(255, 255, 255, 0);
    scrollbar-width: thin;
}

*:hover{
    overflow-y: scroll;
    scrollbar-color: rgb(16, 179, 208) rgb(17, 9, 9);
    scrollbar-width: thin;
}

/* slider or range slider */
input[type=range]::-moz-range-thumb{
    
    width: 5px;
    height: 15px;
    border-radius: 0%;
    background: hsl(0, 0%, 0%);
    cursor: pointer;
}

input[type=range]::-moz-range-thumb:hover{
    
    background-color: rgba(11, 37, 155, 0.783);
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 5px;
    height: 15px;
    border-radius: 0%;
    background: hsl(209, 95%, 34%);
    cursor: pointer;
}

.text-container{
    width: 99%;
    height: 800px;
    overflow:scroll;
    border: 1px solid lightslategray ;
}
input[type=range]{
    -webkit-appearance: none;
    width: 25%;
    background-color: rgba(128, 128, 128, 0.583);
}
::-webkit-scrollbar{
    width:5px;
}

/*web kit scroll bar */

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    cursor: pointer;
    background-color:rgb(16, 179, 208);
    width :10px;
    
}
::-webkit-scrollbar-thumb:hover{
    width: 5px;
}
