
.outer-container{
    position: absolute;
    width: 100%;
    height: 100%;
}
.image-container{
    position: absolute;
    width: 100px;
    height: 100px;
    top:calc(50% - 100px);
    left: 0;
    border: 1px solid rgba(0, 0, 0, 0.425);
    border-radius: 50px;
    background-color: rgb(71, 75, 75);
    animation-name: trajectory;
    animation-play-state:paused;
    animation-duration: 16s;
    animation-iteration-count: infinite;
}

.image-container.reset{
    animation-name: none;

}

.image-container.paused{

    animation-play-state: paused;
} 
.image-container.move{

    animation-play-state: running;
}
img{
    position: relative;
    width: 100px;
    height: 100px;
    object-fit:scale-down;
}
@keyframes trajectory{
    0% {left:0%;top:calc(50% - 100px);}
    12.5% {left:calc(50% - 100px); top:calc(50% - 100px);}
    25%{left:calc(50% - 100px); top:calc(0%);}
    37.5%{left:calc(50% - 100px); top:calc(50% - 100px);}
    50%{left:calc(100% - 100px); top:calc(50% - 100px );}
    62.5%{left:calc(50% - 100px); top:calc(50% - 100px);}
    75%{left:calc(50% - 100px); top:calc(100% - 100px);}
    87.5%{left:calc(50% - 100px); top:calc(50% - 100px);}
    100%{left:0%;top:calc(50% - 100px);}

}

.btn{
    border: 1px solid rgba(11, 186, 255, 0.871);
    width: 10%;
    max-width: 100px;
    background-color: rgba(43, 213, 52, 0.74);
    color: white;
    padding: 10px;
    text-align: center;
    margin: 10px;
}
.btn:hover{
    background-color: rgba(45, 184, 192, 0.74);
    color: grey;
}
